# Server config
PORT=3000
NODE_ENV=development

# Database config
DB_HOST=localhost
# When running with docker compose, DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=solana_webhooks

# Redis config
REDIS_HOST=localhost
# When running with docker compose, REDIS_HOST=redis
REDIS_PORT=6379

# Nodemailer / Email (optional or mock)
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USER=user
SMTP_PASS=pass
EMAIL_FROM="alerts@solanawebhooks.com"

# Telegram Bot API (optional)
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
